body{
  margin: 0;
  text-align:center;
}
h1{
  width:10%;
  margin: 0 auto 0 auto;
}
.top-container{
  background-color: #E8F9FD;
  padding-top: 100px;
}
.middle-container{
 
}
.bottom-container{
 
}
.pro{
  text-decoration: underline;
}
.bottom-cloud{
  position: absolute;
  bottom: 450px;
}
.top-cloud{
  position:absolute;
right: 400px;
top: 50px;
}
